{% extends "main/base.html" %}

{% block contentnav %}
<p><a href="{% url 'home' %}">Home</a></p>
<p>|</p>
<p><a class="current" href="{% url 'about' %}">About us</a></p>
{% endblock %}

{% block content %}
<h2>Welcome to</h2>
<h1>Know<span class="w2">How</span><span class="current">Bytes™</span></h1>
<p class="w2">Our goal is to rule the world lol</p>

<h3 id="authors">Authors</h3>
{% for author in authors %}
<a class="khb-link" href="{% url 'author' author.slug %}">{{author.name}}</a>
{% endfor %}

<h3 id="contact">Contact</h3>
<a class="khb-link" href="#">Contact us</a>
{% endblock %}