{% extends "main/base.html" %}

{% block contentnav %}
<p><a href="{% url 'home' %}">Home</a></p>
<p>|</p>
<p><a class="current" href="{% url 'about' %}">About us</a></p>
{% endblock %}

{% block content %}
<h2>We are</h2>
<h1 class="current">KnowHowBytes</h1>
<p class="w2">Our goal is to rule the world lol</p>
<h3 id="authors">Authors</h3>
{% for author in authors %}
<p class="w2">{{author.name}}</p>
{% endfor %}
<h3 id="contact">Contact</h3>
<a class="khb-link" href="#">Contact us</a>
{% endblock %}