<!DOCTYPE html>

{% load static %}

<html>
<head>
  <!-- Base CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'main/base.css' %}">

  <!-- Google Roboto -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

  <!-- Load an icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" type="image/png" href="{% static 'main/favicon.png' %}"/>

  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <div class="khb-nav" id="khb-nav">
    <a href="{% url 'home' %}"><img class="nav-logo" src="{% static 'main/khb-logo.png' %}"></a>
    <a href="{% url 'blog' %}">Blog</a>
    <a href="javascript:void(0);" class="icon" onclick="drop()">
      <i class="fa fa-bars"></i>
    </a>
  </div>

  <div class="khb-content-nav">
    {% block contentnav %}{% endblock %}
  </div>

  {% block fullsize %}{% endblock %}

  <div class="khb-content">
    {% block content %}{% endblock %}
  </div>

  <div class="khb-footer">
    <h3>Support us...</h3>
    <p>... and donate <a class="current" href="#">here</a></p>
  </div>

  {% block content2 %}{% endblock %}

  <div class="khb-footer">
    <h1>Know<span class="w2">How</span><span class="current">Bytes™</span></h1>
    <div class="row">
      <div class="col m-fix">
        <h6>About us</h6>
        <p><a class="w2" href="{% url 'about' %}">Know How Bytes</a></p>
        <p><a class="w2" href="{% url 'about' %}#authors">Authors</a></p>
        <p><a class="w2" href="{% url 'about' %}#contact">Contact</a></p>
      </div>
      <div class="col m-fix">
        <h6>Socials</h6>
        <p><a class="w2" href="#"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a></p>
        <p><a class="w2" href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i> Youtube</a></p>
        <p><a class="w2" href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</a></p>
        <p><a class="w2" href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a></p>
      </div>
    </div>
  </div>

<script>
function drop() {
  var x = document.getElementById("khb-nav");
  if (x.className === "khb-nav") {
    x.className += " responsive";
  } else {
    x.className = "khb-nav";
  }
}
</script>

</body>
</html>