{% extends "main/base.html" %}

{% block title %}KNOW HOW BYTES™ | Blog{% endblock %}

{% block contentnav %}
<p><a href="{% url 'home' %}">Home</a></p>
<p>|</p>
<p><a class="current" href="{% url 'blog' %}">Blog</a></p>
{% endblock %}

{% block content %}
<a class="khb-link2" href="{% url 'blog' %}">All</a>
{% for category in categories %}
<a class="khb-link" href="{% url 'category' category.slug %}">{{category}}</a>
{% endfor %}

<h3>All</h3>
<p class="w2">All posts sorted by newest</p>
<div class="row">
{% for post in posts %}
<div class="col s">
<a href="{% url 'post' post.category.slug post.slug %}">
<div class="khb-card">
	<div class="khb-card-upper">
		<img class="khb-card-img" src="{{ post.img.url }}">
	</div>
	<div class="khb-card-lower">
		<div class="khb-card-desc w2">{{post.date}}</div>
		<div class="khb-card-title">{{post.title}}</div>
		<div class="khb-card-desc w2">{{post.desc}}</div>
	</div>
</div>
</a>
</div>
{% endfor %}
</div>
{% endblock %}