{% extends "main/base.html" %}
{% load static %}

{% block title %}KNOW HOW BYTES™{% endblock %}

{% block contentnav %}
<p><a class="current" href="{% url 'home' %}">Home</a></p>
{% endblock %}

{% block fullsize %}
<div class="fullsize">
	<h2 class="w2">Welcome to</h2>
	<h1>Know<span class="w2">How</span><span class="current">Bytes™</span></h1>
	<p>Explore and discover our world.</p>
	<br>
	<p><a class="khb-link" href="{% url 'blog' %}">See posts</a></p>	
</div>

{% for category in categories %}
<div class="khb-sticker">
	<img class="s" src="{{ category.img.url }}">
	<h3>{{category.name}}</h3>
	<p class="w2">{{category.desc}}</p>
	<br>
	<a class="khb-link" href="{% url 'category' category.slug %}">See posts</a>
</div>
{% endfor %}
{% endblock %}

{% block content %}
{% endblock %}