{% extends "main/base.html" %}

{% block contentnav %}
<p><a href="{% url 'home' %}">Home</a></p>
<p>|</p>
<p><a href="{% url 'blog' %}">Blog</a></p>
<p>|</p>
<p><a href="{% url 'category' category.slug %}">{{category}}</a></p>
<p>|</p>
<p><a class="current" href="{% url 'post' post.category.slug post.slug %}">{{post.title}}</a></p>
{% endblock %}

{% block content %}
<div class="khb-post">
	<p class="w2">{{post.author}} @ {{post.date}}</p>
	<h1>{{post.title}}</h1>
	<img class="khb-post-img" src="{{ post.img.url }}">
	<div class="w2">{{post.desc|linebreaks}}</div>
	<h3>Contents</h3>
	{% for section in post_sections %}

	{% if '#' in section %}
	<!-- CONTENTS -->
	<h4><a class="w2" href="#{{section}}">{{section|slice:'1:'}}</a></h4>
	{% endif %}

	{% endfor%}
	<br>
	{% for section in post_sections %}
	{% if '#' in section %}
	<!-- HEADER -->
	<h3 id="{{section}}">{{section|slice:'1:'}}</h3>
	{% elif '&' in section %}
	<!-- CODE -->
	<div class="w2 khb-post-code">{{section|slice:'1:'|linebreaks}}</div>
	{% else %}
	<!-- NORMAL TEXT -->
	<div class="w2">{{section|slice:'1:'|linebreaks}}</div>
	{% endif %}
	{% endfor%}
</div>
{% endblock %}

{% block content2 %}
<div class="khb-footer">
<h3>Other posts in {{category}}</h3>
<div class="row">
{% for post in posts %}
<div class="col s">
<a href="{% url 'post' post.category.slug post.slug %}">
<div class="khb-card">
	<div class="khb-card-upper">
		<img class="khb-card-img" src="{{ post.img.url }}">
	</div>
	<div class="khb-card-lower">
		<div class="khb-card-desc w2">{{post.date}}</div>
		<div class="khb-card-title">{{post.title}}</div>
		<div class="khb-card-desc w2">{{post.desc}}</div>
	</div>
</div>
</a>
</div>
{% endfor %}
</div>
</div>
{% endblock %}