/* color scheme */
:root {
  --background: #FFF;
  --background2: #f1f1f1;
  --border: #484848;
  --border1: #767676;

  --primary: #00d8a2;
  --primary-light: #b3eed7;
  --primary-dark: #00c379;

  --secondary: #f6d42d;
  --secondary-light: #f6d42d;
  --secondary-dark: #f6d42d;

  --white: #FFF;
  --white1: #f2f2f2;
  --white2: #a2a2a2;
  --white3: #868686;
  --white4: #d0d0d0;

  --black: #000;
  --black1: #222;
  --black2: #444;
  --black3: #666;
}

/* Global settings */

html {
  font-family: fantasy, Arial, sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.4rem;
}

.w2 {
  color: var(--black2);
}

/* NAVIGATION */
.khb-nav {
  padding: 0 16px;
  background-color: var(--background);
  overflow: hidden;
  border-bottom: 1px solid var(--border);
}

.khb-nav a {
  float: left;
  display: block;
  color: var(--black);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 0.8rem;
}

.khb-nav a:hover {
  color: var(--primary);
}

.khb-nav a.active {
  background-color: #04AA6D;
  color: white;
}

.nav-logo {
	height: 16px;
}

/* content nav */
.khb-content-nav {
  background-color: var(--background);
  padding: 0 15%;
  font-size: 0.7rem;
  border-bottom: 1px solid var(--border);
}

.khb-content-nav a, .khb-content-nav p {
  color: var(--black2);
  display: inline-block;
}

.current {
  color: var(--primary) !important;
}

/* Main content */
.khb-content {
	text-align: left;
	padding: 16px 15%;
	background-color: var(--background);
}

.khb-sticker {
	border-radius: 4px;
	text-align: left;
	padding: 32px;
	background-color: var(--background2);
	margin-bottom: 32px;
}

.khb-img {
	width: 90%;
	max-width: 200px;
	height: 100%;
	border-radius: 8px;
}

.khb-post {
	text-align: left;
	padding: 0;
}

.khb-post-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.khb-link {
	border-radius: 4px;
	padding: 8px 16px;
	background-color: var(--primary);
	color: #fff;
}

/* Cards */
.khb-card {
  border-radius: 8px;
  background-color: var(--background);
  margin: 16px;
}

.khb-card:hover {
  .khb-card-img {
    opacity: 0.8;
  }
}

.khb-card-upper {
  width: 100%;
  height: 200px;
}

.khb-card-img {
  border-radius: 4px;
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.khb-card-lower {
}

.khb-card-title {
  padding: 8px;
  font-size: 1.2rem;
  color: var(--black);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.khb-card-desc {
  padding: 8px;
  font-size: 0.8rem;
  color: var(--black2);
}

/* Footer */
.khb-footer {
  padding: 32px 15%;
  border-top: 1px solid var(--border);
  background-color: var(--background);
}

.khb-footer a:hover {
  color: var(--primary);
}

/* Rows and Cols */
.row {
  width: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
}

.s {
	width: 25%;
}

.m {
	width: 50%;
}

.l {
	width: 75%;
}

@media screen and (max-width: 1400px) {
  .s {
    width: 50%;
  }

  .m {
    width: 100%;
  }

  .l {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {

  .s {
    width: 100%;
  }

  .m {
    width: 100%;
  }

  .l {
    width: 100%;
  }
}